/* .pageWrapper {
  margin-top: -7.25px;
} */

.card-panel {
  margin-top: -7.25px !important;
}

/* .background-pic {
  background-image: url("./images/994699.jpg");
  background-size: 1000px 250px;
} */
